#logContainer{
	display:flex;
	justify-content:space-between;
	text-align:left;
	height:100%;
	em{
		border-bottom:1px solid black;
		margin-bottom:2vh;
	}
	header{
		background:$alto;
		border-bottom:1px $border solid;
	}
	.column{
		display:flex;
		flex-direction:column;
		width:22.5vw;
		border-left:1px $border solid;

		.content{
			padding:0 1vw;
			em{
				padding-bottom:3px;
			}
			p.first{
				margin-top:2vh;
			}
			p{
				height:5vh;
			}
		}
		.collapsedMenu{
			background:$alto;
			border:1px solid $border;
			margin-top:0.1vh;
			h1{
				padding:0 1vw;
			}
			p{
				display:none;
			}
		}
	}
	#time{
		border:none;
		width:10vw;
	}
}
