#logContainer{
	display:flex;

	height:100%;

	text-align:left;

	justify-content:space-between;
	em{
		margin-bottom:2vh;

		border-bottom:1px solid black;
	}
	header{
		border-bottom:1px $border solid;
		background:$alto;
	}
	.column{
		display:flex;
		flex-direction:column;

		width:22.5vw;

		border-left:1px $border solid;

		.content{
			margin-bottom:3vh;
			padding:0 1vw;
			em{
				padding-bottom:3px;
			}
			div{
				display:flex;

				height:5vh;
				padding-top:2vh;

				align-content:center;
				i{
					padding-right:1vw;

					font-size:2em;
					line-height:5vh;
				}
				h2{
					line-height:5vh;
				}
			}
		}
		.collapsedMenu{
			margin-top:0.1vh;

			border:1px solid $border;
			background:$alto;
			.content{
				display:none;
			}
		}
		.openMenu{

		}
	}
	#time{
		width:10vw;

		border:none;
	}
}
.hidden{
	display:none;

	background:red;
}
