#logContainer{
	display:flex;
	justify-content:space-between;
	text-align:left;
	height:100%;
	em{
		border-bottom:1px solid black;
		margin-bottom:2vh;
	}
	header{
		background:$alto;
		border-bottom:1px $border solid;
	}
	.column{
		display:flex;
		flex-direction:column;
		width:22.5vw;
		border-left:1px $border solid;

		.content{
			padding:0 1vw;
			margin-bottom:3vh;
			em{
				padding-bottom:3px;
			}
			div{
				display:flex;
				padding-top:2vh;
				height:5vh;
				align-content:center;
				i{
					padding-right:1vw;
					font-size:2em;
					line-height:5vh;
				}
				h2{
					line-height:5vh;
				}
			}
		}
		.collapsedMenu{
			background:$alto;
			border:1px solid $border;
			margin-top:0.1vh;
			h1{
				padding:0 1vw;
			}
			p{
				display:none;
			}
			em{
			
			}
		}
	}
	#time{
		border:none;
		width:10vw;
	}
}
