* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.active {
  border-right: 3px black solid; }

#logContainer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  height: 100%; }
  #logContainer em {
    border-bottom: 1px solid black;
    margin-bottom: 2vh; }
  #logContainer header {
    background: #DADADA;
    border-bottom: 1px #6D6D6D solid; }
  #logContainer .column {
    display: flex;
    flex-direction: column;
    width: 22.5vw;
    border-left: 1px #6D6D6D solid; }
    #logContainer .column .content {
      padding: 0 1vw; }
      #logContainer .column .content em {
        padding-bottom: 3px; }
      #logContainer .column .content p.first {
        margin-top: 2vh; }
      #logContainer .column .content p {
        height: 5vh; }
    #logContainer .column .collapsedMenu {
      background: #DADADA;
      border: 1px solid #6D6D6D;
      margin-top: 0.1vh; }
      #logContainer .column .collapsedMenu h1 {
        padding: 0 1vw; }
      #logContainer .column .collapsedMenu p {
        display: none; }
  #logContainer #time {
    border: none;
    width: 10vw; }

ui-view {
  background: white;
  width: 100vw;
  height: 85vh;
  position: absolute;
  bottom: 0;
  right: 0; }

#log {
  width: 100vw;
  height: 15vh;
  position: absolute;
  top: 0;
  right: 0;
  background: #DADADA;
  display: flex; }
  #log #leftNav {
    width: 10vw;
    background-color: #DADADA;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center; }
    #log #leftNav a i, #log #leftNav a:hover i, #log #leftNav a:visited i {
      color: #000000;
      font-size: 30px; }
  #log #entryField {
    border: solid 1px #6D6D6D;
    border-top: none;
    width: 80vw;
    height: 15vh;
    background-color: white; }
    #log #entryField #markerAssign {
      height: 10vh;
      width: 80vw; }
      #log #entryField #markerAssign i {
        width: 5vw;
        margin-right: 5vw;
        text-align: center;
        padding-top: 1vh;
        border-top: 2px gray solid; }
    #log #entryField input {
      padding: 1vh 0 0 2vw;
      width: 70vw;
      border: none;
      height: 5vh;
      font-size: 3vh; }
    #log #entryField input[type=text]:focus, #log #entryField textarea:focus {
      border: none;
      box-shadow: none; }
  #log #rightNav {
    height: 15vh;
    width: 10vw;
    background-color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white; }
    #log #rightNav i {
      font-size: 30px; }

/*# sourceMappingURL=master.css.map */
