
<div id="logContainer">
  <div class="column" id="time">
    <header>
      <h1>Time</h1>
    </header>
    <div class="content"><em>today</em></div>
  </div>
  <div class="column" id="people">
    <header>
      <h1>People</h1>
    </header>
    <div class="content"><em>Family</em></div>
  </div>
  <div class="column" id="places">
    <header>
      <h1>Places</h1>
    </header>
    <div class="content"><em>Nearby</em></div>
  </div>
  <div class="column" id="actions">
    <header>
      <h1>Actions</h1>
    </header>
    <div class="content"><em>Entertainment</em></div>
  </div>
  <div class="column" id="things">
    <header>
      <h1>Things</h1>
    </header>
    <div class="content openMenu"><em>Common</em>
      <p class="first">dummy content</p>
      <p>dummy content</p>
      <p>dummy content</p>
      <p>dummy content</p>
      <p>dummy content</p>
      <p>dummy content</p>
      <p>dummy content</p>
      <p>dummy </p>
    </div>
    <div class="collapsedMenu">
      <h1>OtherSTUFF</h1>
      <p>hey I should be hidden</p>
    </div>
    <div class="collapsedMenu">
      <h1>Otherstehuta</h1>
    </div>
  </div>
</div>