#logContainer

	#time.column
		header
			h1 Time
		.content
			em today
			div(ng-repeat="x in timeList")
				h2 {{x.name}}


	#people.column
		header
			h1 People
		.content
			em Family
			div(ng-repeat="x in peopleList")
				i.fa.fa-user
				h2 {{x.name}}
	#places.column
		header
			h1 Places
		.content
			em Nearby
			div(ng-repeat="x in placeList")
				i.fa.fa-map-marker
				h2 {{x.name}}
	#thing.column
		header
			h1 Things
		.content
			em Entertainment
			div(ng-repeat="x in thingList")
				i.fa.fa-bars
				h2 {{x.name}}

	#actions.column
		header
			h1 Actions
		#common
			header
				h1 Common
			.content
				
				div(ng-repeat="x in actionList")
					i.fa.fa-bars
					h2 {{x.name}}

		#otherCat.collapsedMenu
			header
				h1 OtherSTUFF
			.content#otherCat0Slide

				div(ng-repeat="x in thingList")
					i.fa.fa-bars
					h2 {{x.name}}

		#otherCat1.collapsedMenu
			header
				h1 Moar CATagory
			.content#otherCat0Slide

				div(ng-repeat="x in thingList")
					i.fa.fa-bars
					h2 {{x.name}}
