#logContainer

	#time.column
		header
			h1 Time
		.content
			em today


	#people.column
		header
			h1 People
		.content
			em Family
	#places.column
		header
			h1 Places
		.content
			em Nearby
	#actions.column
		header
			h1 Actions
		.content
			em Entertainment

	#things.column
		header
			h1 Things
		.content.openMenu
			em Common
			p.first dummy content
			p(ng-repeat="x in peopleList") {{peopleList.p1.name}}
		.collapsedMenu
			h1 OtherSTUFF
			p hey I should be hidden
		.collapsedMenu
			h1 Otherstehuta
