
<div id="logContainer">
  <div class="column" id="time">
    <header>
      <h1>Time</h1>
    </header>
    <div class="content"><em>today</em>
      <div ng-repeat="x in timeList">
        <h2>{{x.name}}</h2>
      </div>
    </div>
  </div>
  <div class="column" id="people">
    <header>
      <h1>People</h1>
    </header>
    <div class="content"><em>Family</em>
      <div ng-repeat="x in peopleList"><i class="fa fa-user"></i>
        <h2>{{x.name}}</h2>
      </div>
    </div>
  </div>
  <div class="column" id="places">
    <header>
      <h1>Places</h1>
    </header>
    <div class="content"><em>Nearby</em>
      <div ng-repeat="x in placeList"><i class="fa fa-map-marker"></i>
        <h2>{{x.name}}</h2>
      </div>
    </div>
  </div>
  <div class="column" id="thing">
    <header>
      <h1>Things</h1>
    </header>
    <div class="content"><em>Entertainment</em>
      <div ng-repeat="x in thingList"><i class="fa fa-bars"></i>
        <h2>{{x.name}}</h2>
      </div>
    </div>
  </div>
  <div class="column" id="actions">
    <header>
      <h1>Actions</h1>
    </header>
    <div id="common">
      <header>
        <h1>Common</h1>
      </header>
      <div class="content">
        <div ng-repeat="x in actionList"><i class="fa fa-bars"></i>
          <h2>{{x.name}}</h2>
        </div>
      </div>
    </div>
    <div class="collapsedMenu" id="otherCat">
      <header>
        <h1>OtherSTUFF</h1>
      </header>
      <div class="content" id="otherCat0Slide">
        <div ng-repeat="x in thingList"><i class="fa fa-bars"></i>
          <h2>{{x.name}}</h2>
        </div>
      </div>
    </div>
    <div class="collapsedMenu" id="otherCat1">
      <header>
        <h1>Moar CATagory</h1>
      </header>
      <div class="content" id="otherCat0Slide">
        <div ng-repeat="x in thingList"><i class="fa fa-bars"></i>
          <h2>{{x.name}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>